<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenhao.dao.mapper.DailySpeechMapper">
  <resultMap id="BaseResultMap" type="com.chenhao.dao.entity.DailySpeech">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mood" jdbcType="VARCHAR" property="mood" />
    <result column="publishDate" jdbcType="TIMESTAMP" property="publishdate" />
    <result column="is_active" jdbcType="INTEGER" property="isActive" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.chenhao.dao.entity.DailySpeech">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="picsUrl" jdbcType="LONGVARCHAR" property="picsurl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mood, publishDate, is_active
  </sql>
  <sql id="Blob_Column_List">
    content, picsUrl
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.chenhao.dao.entity.DailySpeechExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from daily_speech
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.chenhao.dao.entity.DailySpeechExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from daily_speech
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from daily_speech
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from daily_speech
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chenhao.dao.entity.DailySpeechExample">
    delete from daily_speech
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chenhao.dao.entity.DailySpeech">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into daily_speech (mood, publishDate, is_active, 
      content, picsUrl)
    values (#{mood,jdbcType=VARCHAR}, #{publishdate,jdbcType=TIMESTAMP}, #{isActive,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR}, #{picsurl,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chenhao.dao.entity.DailySpeech">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into daily_speech
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mood != null">
        mood,
      </if>
      <if test="publishdate != null">
        publishDate,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="picsurl != null">
        picsUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mood != null">
        #{mood,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null">
        #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="picsurl != null">
        #{picsurl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chenhao.dao.entity.DailySpeechExample" resultType="java.lang.Long">
    select count(*) from daily_speech
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update daily_speech
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mood != null">
        mood = #{record.mood,jdbcType=VARCHAR},
      </if>
      <if test="record.publishdate != null">
        publishDate = #{record.publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isActive != null">
        is_active = #{record.isActive,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.picsurl != null">
        picsUrl = #{record.picsurl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update daily_speech
    set id = #{record.id,jdbcType=INTEGER},
      mood = #{record.mood,jdbcType=VARCHAR},
      publishDate = #{record.publishdate,jdbcType=TIMESTAMP},
      is_active = #{record.isActive,jdbcType=INTEGER},
      content = #{record.content,jdbcType=LONGVARCHAR},
      picsUrl = #{record.picsurl,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update daily_speech
    set id = #{record.id,jdbcType=INTEGER},
      mood = #{record.mood,jdbcType=VARCHAR},
      publishDate = #{record.publishdate,jdbcType=TIMESTAMP},
      is_active = #{record.isActive,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenhao.dao.entity.DailySpeech">
    update daily_speech
    <set>
      <if test="mood != null">
        mood = #{mood,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null">
        publishDate = #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="picsurl != null">
        picsUrl = #{picsurl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.chenhao.dao.entity.DailySpeech">
    update daily_speech
    set mood = #{mood,jdbcType=VARCHAR},
      publishDate = #{publishdate,jdbcType=TIMESTAMP},
      is_active = #{isActive,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR},
      picsUrl = #{picsurl,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenhao.dao.entity.DailySpeech">
    update daily_speech
    set mood = #{mood,jdbcType=VARCHAR},
      publishDate = #{publishdate,jdbcType=TIMESTAMP},
      is_active = #{isActive,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>